/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: grey;
  font-family: var(--main-font, sans-serif), sans-serif;
  display: grid;
  grid-template-columns: 1fr;
 
  place-items: center;
  justify-content: center;
}

@supports (font-variation-settings: normal) {
  .page {
    font-weight: var(--main-font-text-wght, 400);
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  font-family: var(--accent-font, sans-serif), sans-serif;
  margin: 100px auto;
  inline-size: 100%;
  padding-block: clamp(120px, 7.3239rem + 0.7512vw, 128px);
  background-color: #fff;
  border: 2px solid #000;
  
  /* block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem); */
  
  /* padding-inline: clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem); */
}

.header-logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 100%;
}

.header-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 100%;
  text-transform: uppercase;
}

.section-width {
  inline-size: clamp(375px, 16.2852rem + 30.5164vw, 700px);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 103px;
}

.content-section {
  background-color: #fff;
  border: 2px solid #000;
}

.card_title {
  font-family: var(--main-font, sans-serif), sans-serif;
  font-weight: var(--main-font-title-wght, 700);
  font-size: 18px;
  line-height: 21.78px;
  padding-block: 5px;
  padding-inline-start: 10px;
}

.card_img {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: right;

}

.card_img__zero-sprint {
  
}

.card_img-container {
  position: relative;
  mix-blend-mode: hard-light;
  border: 2px solid #000;
}

.decorated-label {
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font, sans-serif), sans-serif;
  font-size: 14px;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  text-shadow: 
    -1px 0 #fff, 
    0 1px #fff, 
    1px 0 #fff, 
    0 -1px #fff;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .decorated-label {
    text-stroke: 0.5px #fff;
    -webkit-text-stroke: 1px rgb(255, 255, 255, 0.3);
    text-shadow: none;
  }
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-family: var(--main-font, sans-serif), sans-serif;
  font-weight: var(--main-font-text-wght, 400);
  font-size: 18px;
  line-height: 21px;
  padding-inline: 25px;
  padding-block: 25px 27px;
  /* border-top: 2px solid #000; */
}

button {
  appearance: none;
  display: block;
}

.card_button {
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 6px;
  padding-inline: 25px;
  margin-bottom: 25px;
}


.card__icon-button {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: end;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button {
  background-color: transparent;
  border-top: 2px solid #000;
  padding: 10px 35px 5px;
  cursor: pointer;
}

.button__text {
  font-family: var(--accent-font, sans-serif), sans-serif;
  font-size: 14px;
  line-height: 21px;
  
}


.save-button__icon {
  inline-size: 21px;
}

.save-button {
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 12px;
  padding: 18px 21px;
  cursor: pointer;
}

.save__modal-window1 {
  
  border: none;
}

.save__modal-window__inform {
  display: grid;
  gap: 20px;
  grid-template-columns: min-content 1fr;
  text-transform: uppercase;
  align-items: center;
  max-inline-size: 345px;
  
  padding: 30px;
}

.modal-window__icon {
  inline-size: 39px;
}

.save__modal-window__button {
  background-color: transparent;
  font-family: var(--accent-font, sans-serif), sans-serif;
  font-size: 14px;
  padding-block: 10px;
  line-height: 12.6px;
  cursor: pointer;
  grid-column: 1 / 3;
}  
@media (width <= 375px) {
  .header {
    inline-size: 100%;
  }

  .content {
    margin-bottom: 100px;
  }

  .save__modal-window {
    max-inline-size: 341px;
  }

}